<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>query1</servlet-name>
    <servlet-class>com.example.MyServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>query1</servlet-name>
    <url-pattern>/getData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolidayServlet</display-name>
    <servlet-name>HolidayServlet</servlet-name>
    <servlet-class>com.example.HolidayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolidayServlet</servlet-name>
    <url-pattern>/getHolidayData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveTransaction</display-name>
    <servlet-name>LeaveTransaction</servlet-name>
    <servlet-class>com.example.LeaveTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveTransaction</servlet-name>
    <url-pattern>/applyLeave</url-pattern>
  </servlet-mapping>
</web-app>